@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Barlow+Semi+Condensed&family=Inconsolata:wght@200&family=Lusitana&family=Noto+Sans+JP:wght@300&display=swap');
$primary-text: rgb(219, 219, 239);
$primary-num: #fff;
$primary-size: 15px;
$nav-font: 'Barlow Condensed', sans-serif;

@mixin flex ($justify-content-default: center) {
    display: flex;
    justify-content: $justify-content-default;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-image{
    background-image: url(./assets/home/background-home-desktop.jpg);
}

#destination-image{
    background-image: url(./assets/destination/background-destination-desktop.jpg);
}

#crew-image{
    background-image: url(./assets/crew/background-crew-desktop.jpg);
}

#tech-image{
    background-image: url(./assets/technology/background-technology-desktop.jpg);
}
.App {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 170px 1fr;
    grid-template-areas:
        'header header'
        'content content';
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

// HEADER SECTION
.header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: 15% 30% 1fr;
    height: 150px;

    & svg:nth-of-type(1) {
        justify-self: center;
    }

    & svg:nth-of-type(2) {
        z-index: 2;
    }

    & svg:nth-of-type(3) {
        display: none;
    }

    nav {
        @include flex;
        align-items: center;
        width: 100%;
        height: 80px;
        background: rgba(255, 255, 255, 0.076);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        position: relative;
        
        ul {
            @include flex($justify-content-default: space-around);
            width: 80%;

            li {
                list-style-type: none;
                display: flex;
                gap: 5px;
                cursor: pointer;

                a {
                    font-size: $primary-size;
                    text-decoration: none;
                    color: $primary-text;
                    font-family: $nav-font;
                    letter-spacing: 2px;

                    &:nth-of-type(1) {
                        color: $primary-num;
                        font-weight: 900;
                    }

                }


                .active{
                    font-size: 16px;
                    color: $primary-num;
                }
            }
        }
    }
}

// HOME SECTION
.Home {
    grid-area: content;
}

.home-container {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-auto-rows: 300px;
    margin-top: 120px;

    .home-text {
        margin-left: 180px;
        display: flex;
        flex-direction: column;
        width: 400px;
        @include flex($justify-content-default: space-evenly);
        color: $primary-text;

        h4 {
            font-size: 24px;
            text-transform: uppercase;
            font-family: 'Inconsolata', monospace;
        }

        h2 {
            letter-spacing: 5px;
            font-size: 7.2rem;
            font-family: 'Lusitana', serif;
            color: $primary-num;
        }

        p {
            font-size: $primary-size;
            color: $primary-text;
            line-height: 25px;
            font-family: 'Barlow Semi Condensed', sans-serif;
        }
    }

    .home-explore {
        @include flex;
        align-items: flex-end;

        a {
            border-radius: 50%;
            width: 240px;
            height: 240px;
            background-color: $primary-num;
            color: #000;
            @include flex;
            align-items: center;
            font-size: 25px;
            letter-spacing: 3px;
            cursor: pointer;
            font-family: 'Lusitana', serif;
            transition: all .5s ease;
            text-decoration: none;

            &:hover {
                box-shadow: 0 8px 40px 0 white;
                width: 245px;
                height: 245px;
            }
        }
    }
}



// Destinations Section



%navs-shared{
    grid-area: content;
    display: grid;
    grid-template-columns: 200px 1fr;
}

%container-shared{
    display: grid;
    grid-template-rows: 120px 1fr;
}

%intro-shared{
    align-items: center;
    height: 70px;
    display: flex;
    gap: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

%intro-span-shared{
    color: rgb(128, 139, 152);
    font-size: 20px;
}

%intro-para-shared{
    color: $primary-num;
    font-size: 20px; 
}

%main-topic-shared{
    font-size: 4.7rem;
    color: $primary-text;   
    font-family: 'Lusitana', serif;
    text-transform: uppercase;
}

%main-text-shared{
    color: $primary-text;
    font-size: $primary-size;
    line-height: 22px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.Destinations{
    @extend %navs-shared;
}

.destinations-container{

    @extend %container-shared;

    .pick-destination{
        @extend %intro-shared;

        & span{
            @extend %intro-span-shared;

        }
        & p{
            @extend %intro-para-shared;
        }
    }

    .destination-cover{
        display: grid;
        grid-template-columns: 1fr 490px;
   
        .image-container{
            padding-left: 40px;
            padding-top: 20px;
            img {
                width: 350px;
                height: 350px;
            }
        }

        .planet-details{
            width: 400px;
            display: grid;
            grid-template-rows: 40px 130px 80px 80px ;
            
            .planet-nav{
                width: 60%;
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;

                span{
                    font-size: 15px;
                    font-weight: 900;
                    color: $primary-text;
                    cursor: pointer;
                    font-family: $nav-font;
                    position: relative;
                }

                .activePlanet::after{
                    position: absolute;
                    content: "";
                    background-color: lavender;
                    height: 3px;
                    bottom: 10px;
                    left: 0;
                    width: 100%;
                }
                
               
            }

            h3{
                @extend %main-topic-shared;
            }

            p{
                @extend %main-text-shared;
            }

            svg{
                margin-top: 45px;
                background-color: $primary-text;
                height: 1px;
            }

            .distance-time{
                display: flex;
                justify-content: space-between;
                gap: 50px;

                .distance,
                .time{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    & span:nth-of-type(1){
                        font-size: 12px;
                        color: $primary-text;
                        font-family: 'Inconsolata', monospace;
                        text-transform: uppercase;
                    }
                    
                    & span:nth-of-type(2){
                        font-size: 23px;
                        color: $primary-num;
                        font-family: 'Barlow Semi Condensed', sans-serif;
                        text-transform: uppercase;
                    }
                }

            }
        }
    }
}




// Crew Section
.Crew{
    @extend %navs-shared;
}

.crew-container{
    @extend %container-shared;
    .meet-crew{
        @extend %intro-shared;
        align-items: flex-start;
        
        span{
            @extend %intro-span-shared;
        }

        p{
            @extend %intro-para-shared;
            word-spacing: 8px;
        }
    }

    .crew-cover{
        display: grid;
        grid-template-columns: 460px 1fr;

        .crew-info{
            display: grid;
            grid-template-rows: 60px 80px 130px 100px ;
            h3{
                @extend %intro-para-shared;
                font-family: 'Barlow Semi Condensed', sans-serif;
                color: rgb(128, 139, 152);
                font-size: 32px;
            }

            h2{
                @extend %main-topic-shared;
                font-size:2.2rem;
                word-spacing: 5px;
            }

            p{
                @extend %main-text-shared;
                width: 90%;
                line-height: 28px;
            }

            nav{
                width: 120px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                span{
                    background-color: rgb(128, 139, 152);
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all .4s ease;

                    &:hover{
                        background-color: $primary-text;
                        width: 13px;
                        height: 13px;
                    }
                }

                .activeCrew{
                    background-color: $primary-text;
                    width: 15px;
                    height: 15px;
                }
                
            }
        }

        .crew-personnel{
            margin-top: -70px;
            display: flex;
            justify-content: center;
            img{
                width: 400px;
                height: 500px;
            }
        }
    }
}


// Technology Section
.Technology{
    @extend %navs-shared;
}

.technology-container{
    @extend %container-shared;

    .space-launch{
        @extend %intro-shared;
        align-items: flex-start;

        span{
            @extend %intro-span-shared;
        }

        p{
            @extend %intro-para-shared;
            word-spacing: 8px;
        }
    }

    .technology-cover{
        display: grid;
        grid-template-columns: 120px 450px 1fr;
        height: 300px;

        nav{
            height: 260px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            
            span{
                color: lavender;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: .1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-size: 20px;
                transition: all .5s ease;

                &:hover{
                    background-color: lavender;
                    color: black;
                }
            }

            .activeTech{
                background-color: lavender;
                color: black;
            }
        }

        .cover{
            height: 260px;
            display: grid;
            grid-template-rows: 30px 1fr 1fr;

            span{
                @extend %intro-para-shared;
                font-family: 'Barlow Semi Condensed', sans-serif;
                color: rgb(128, 139, 152);
                font-size: 14px;
            }

            h3{
                @extend %main-topic-shared;
                font-size:2.7rem;
                word-spacing: 5px;
            }

            p{
                @extend %main-text-shared;
                width: 80%;
                line-height: 28px;
            }
        }

        .space-craft{
            margin-top: -70px;
            display: flex;
            justify-content: flex-end;
            img{
                object-fit: cover;
                width: 400px;
                height: 400px;
            }
        }
    }
}

.dropDown{
    display: flex !important;
}

@media screen and (max-width:425px) {

    .App {
        grid-template-columns: 1fr;
        grid-template-rows: 130px 1fr;
        grid-template-areas:
            'header'
            'content';
        max-width: 100%;
        overflow: scroll;
        height: 100vh;
    }


    .header {
        grid-area: header;
        display: grid;
        align-items: center;
        grid-template-columns: 75px 1fr;
        height: 100px;
        width: 100%;
    
        & svg:nth-of-type(1) {
            justify-self: center;
        }
    
        & svg:nth-of-type(2) {
            display: none;
        }

        & svg:nth-of-type(3) {
            display: flex;
            justify-self: flex-end;
            margin-right: 20px;
        }
    
        nav {
            @include flex;
            align-items: unset;
            height: 200px;
            width: 290px;            
            position: relative;
            top: 40px;
            display: none;
            
            ul {
                @include flex($justify-content-default: space-around);
                flex-direction: column;
                align-items: center;
    
                a {
                    font-size: 12px;
                }


                .active{
                    font-size: 14px;
                }
            }
        }
    }

    // HOME SECTION
    #home-image{
        background-image: url(./assets/home/background-home-mobile.jpg);
    }

    .home-container {
        display: grid;
        grid-template-columns:1fr;
        grid-auto-rows: 1fr 1fr;
        margin-top: unset;

        .home-text {
            margin-left: unset;
            display: flex;
            width:100%;
            height: 240px;
            @include flex($justify-content-default:space-around);
            align-items: center;

            h4 {
                font-size: 15px;
            }

            h2 {
                letter-spacing: 5px;
                font-size: 4.5rem;
            }

            p {
                font-size: 13px;
                width: 95%;
                line-height: 25px;
                text-align: center
            }
        }

        .home-explore {
            @include flex;
            align-items: center;

            a {
                width: 160px;
                height: 160px;
                @include flex;
                font-size: 18px;
            }
        }
    }

    //Destinations Section

    #destination-image{
        background-image: url(./assets/destination/background-destination-mobile.jpg);
    }


    .Destinations{
        @extend %navs-shared;
        grid-template-columns: 0px 1fr;
    }

    .destinations-container{
        grid-template-rows: 90px 1fr;

        .pick-destination{
            justify-content: center;
            & span{
                font-size: 18px;

            }
            & p{
                font-size: 18px;
            }
        }

        .destination-cover{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 270px 1fr;
    
            .image-container{
                padding-left: 0px;
                padding-top: 0px;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                img {
                    width: 200px;
                    height:200px;
                }
            }

            .planet-details{
                width: 100%;
                
                .planet-nav{
                    width: 100%;
                    justify-content: space-evenly;

                    span{
                        font-size: 13px;
                    }
                
                }

                h3{
                    font-size: 3.7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                p{
                    font-size: 12px;
                    padding: 0 10px;
                    text-align: center;
                }

                svg{
                    margin-top: 45px;
                    width: 100%;
                    padding: 0 10px;
                    height: 0.5px;
                    background-color: unset;
                }

                .distance-time{
                    flex-direction: column;
                    gap: 50px;

                    .distance,
                    .time{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 5px;

                        & span:nth-of-type(1){
                            font-size: 12px;
                        }
                        
                        & span:nth-of-type(2){
                            font-size: 26px;
                           
                        }
                    }

                }
            }
        }
    }



    #crew-image{
        background-image: url(./assets/crew/background-crew-mobile.jpg);
    }
    //Crew Section
    .Crew{
        grid-template-columns: 0px 1fr;

    }

    .crew-container{
        grid-template-rows: 90px 1fr;

        .meet-crew{
            justify-content: center;
            
            span{
                font-size: 18px;
            }

            p{
                font-size: 18px;

            }
        }

        .crew-cover{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
            'image'
            'info';
            grid-template-rows: 1fr 1fr;
            

            


            .crew-info{
                grid-area: info;
                width: 100%;
                grid-template-rows: 40px 50px 90px 80px;
                h3{
                    font-size: 21px;
                    text-align: center;
                    color: rgb(128, 139, 152);
                }

                h2{
                    font-size:1.4rem;
                    text-align: center;
                }

                p{
                    width: 100%;
                    line-height: 20px;
                    font-size: 12px;
                    padding: 0 10px;
                    text-align: center;
                }

                nav{
                    width: 40%;
                    justify-content: space-evenly;
                    margin: 0 auto;
                    position: relative;
                    top: -250px;
                }
            }


            .crew-personnel{
                grid-area: image;
                margin-top: 0px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                img{
                    width: 200px;
                    height: 200px;
                    
                }
            }

            
        
        }
    }


    #tech-image{
        background-image: url(./assets/technology/background-technology-mobile.jpg);
    }
    // Technology Section
    .Technology{
        grid-template-columns: 0px 1fr;
        margin-top: -20px;
    }

    .technology-container{
        grid-template-rows: 90px 1fr;

        .space-launch{
            justify-content: center;


            span{
                font-size: 18px;
            }

            p{
                font-size: 18px;
            }
        }

        .technology-cover{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
            'imageTech'
            'navTech'
            'infoTech';
            grid-template-rows: 220px 70px 1fr;

            nav{
                grid-area: navTech;
                height: 60px;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                
                span{
                    width: 40px;
                    height: 40px;
                    font-size: 17px;
                }
            }

            .cover{
                grid-area: infoTech;
                width: 100%;
                grid-template-rows: 30px 50px 1fr;

                span{
                    color: rgb(128, 139, 152);
                    font-size: 14px;
                    text-align: center;
                }

                h3{
                    font-size:1.7rem;
                    text-align: center;

                }

                p{
                    width: 100%;
                    text-align: center;
                    font-size: 12px;
                }
            }

            .space-craft{
                grid-area: imageTech;
                margin-top: 0px; 
                display: flex;
                justify-content: center;
                align-items: flex-start;
                img{
                    width: 100%;
                    height: 200px;
                }
            }
        }
    }
}